* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  background: #292f31;
  font: 62.5%/20pt "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  height: 100%;
}
body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
a, a:visited {
  color: #ccc;
}
h1 {
  background: #292f31;
  border-bottom: 1px solid #474d4f;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  margin: 0px;
  padding: 20px 10px;
  position: absolute;
  width: 100%;
  max-width: 960px;
  z-index: 2;
}
h2 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 10px 0;
}
h1 small {
  float: right;
  font-size: 1.4rem;
}
.chat-wrapper {
  background: #32393b;
  height: 100%;
  max-width: 960px;
  padding: 91px 10px 0 10px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.chat-wrapper form {
  background: #32393b;
  bottom: 0px;
  height: 60px;
  padding: 0 0 10px 0;
  position: absolute;
  width: 100%;
}
.chat-wrapper textarea {
  width: 65%;
  height: 100%;
  border: 3px solid #cccccc;
  padding: 5px;
}
.chat-wrapper .contact-action {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 30%;
}
.chat-wrapper .contact-action select {
  display: block;
  width: 100%;
}
.chat-wrapper .contact-action input {
  left: 0px;
  position: absolute;
  bottom: 0px;
}

.chat-wrapper .messages {
  color: #ccc;
  height: 100%;
  list-style: inside none;
  overflow: auto;
  padding: 0 0 120px 0;
}
.chat-wrapper .messages li {
  margin: 0 0 5px 0;
}
