* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  background: #292f31;
  font: 62.5%/20pt "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  height: 100%;
}
body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
a, a:visited {
  color: #2f6fb6;
}
a:active {color: #ccc;}
.no-touch a:hover {color: #ccc;}
h1 {
  background: #292f31;
  border-bottom: 1px solid #474d4f;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  margin: 0px;
  padding: 20px 10px;
  position: absolute;
  width: 100%;
  max-width: 960px;
  z-index: 2;
}
h2 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 10px 0;
}
h1 small {
  float: right;
  font-size: 1.4rem;
}
h2.chat-title {
  text-align: center;
}
h2.chat-title a {
  float: left;
  font-size: 1.2rem;
  line-height: 2rem;
}


::-webkit-input-placeholder { /* WebKit browsers */
  color: #828e94;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #828e94;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #828e94;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #828e94;
}
input {
  border: 2px solid #ccc;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
input:focus {
  border: 2px solid #489dff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
input[type="submit"] {
  background: #489dff;
  border: 1px solid #2f6fb6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 20px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="submit"]:hover,
input[type="submit"]:active {
  background: #2f6fb6;
  border: 1px solid #489dff;
}


main {
  background: #32393b;
  height: 100%;
  max-width: 960px;
  padding: 91px 10px 0 10px;
  position: fixed;
  top: 0px;
  width: 100%;
}
main form {
  background: #32393b;
  bottom: 0px;
  left: 0px;
  height: 50px;
  padding: 0 0 10px 10px;
  position: absolute;
  width: 100%;
}
main #message-input {
  width: 100%;
  height: 100%;
  padding: 5px;
}

main .messages {
  color: #ccc;
  height: 100%;
  list-style: inside none;
  overflow: auto;
  padding: 0 0 160px 0;
}
main .messages li {
  background: #4e575a;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  clear: both;
  float: left;
  line-height: 1.8rem;
  margin: 0 0 5px 0;
  padding: 8px 10px;
}
main .messages li.me {float: right;}
main .messages li small {
  display: block;
}
main .messages li mark {
  background: none;
  color: #fff;
}


.login {
  background: #32393b;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  position: absolute;
  top: 91px;
  width: 100%;
  z-index: 2;
}
.login input {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  width: 100px;
}


.users {
  list-style: inside none;
  margin: -10px;
  padding: 0px;
}

.users li a {
  color: #fff;
  display: block;
  font-size: 2rem;
  text-decoration: none;
  padding: 20px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
}
.users li a:active {
  background: #2f6fb6;
}
.no-touch .users li a:hover {
  background: #2f6fb6;
}
.users li + li {border-top: 1px solid #000;}
