<h2 class="chat-title"><a data-ng-href="/#/users" class="ss-icon">navigateleft</a>Messaging with {{params.recipient}}</h2>
<form ng-submit="sendMessage()" id="message-form">
    <input type="text" placeholder="lalala" data-ng-model="text" rows="20" cols="10" required id="message-input">
</form>


<ul class="messages" id="messages">
    <li data-ng-repeat="message in messages | reverse" data-ng-class="message.user">
        <div class="ss-icon">comment</div>
        <div>
            <small>{{message.user}}</small>
            <mark>{{message.text}}</mark>
        </div>
    </li>
</ul>
