<h2 class="chat-title"><a data-ng-href="/#/users" class="ss-icon">navigateleft</a>Messaging with {{params.recipient}} <small>({{pubkey}})</small></h2>
<form ng-submit="sendMessage()" id="message-form">
    <input type="text" placeholder="Type your message here" data-ng-model="text" rows="20" cols="10" required id="message-input">
</form>


<ul class="messages" id="messages">
    <li data-ng-repeat="(user, message) in messages[params.recipient]" data-ng-class="message.user">
        <div class="ss-icon">comment</div>
        <div>
            <small>{{message.user}} {{message.timestamp|timify}}</small>
            <mark>{{message.text}} <span class="ss-icon" data-ng-hide="">&#x2713;</span></mark>
        </div>
    </li>
</ul>
