<div class="hero-unit">
    <h1>Awesome client-to-client encryption shit</h1>
    <hr>
    <div data-ng-hide="currentUser">
    <form ng-submit="login()">
        <input type="text" data-ng-model="username" required placeholder="Username">
        <input type="password" data-ng-model="passphrase" required placeholder="Password">
        <input type="submit" id="submit" value="Submit" />
    </form>
    </div>

    <div data-ng-show="currentUser">
        <h2>Hello {{currentUser}} <a href="#" data-ng-click="logout()">Logout</a></h2>
        <textarea placeholder="lalala" data-ng-model="message"></textarea>
        <select name="client" id="client-select" data-ng-model="recipient" data-ng-options="c.username for c in clients[0]"></select>
    <a href="#" ng-click="sendMessage()">send something</a>
    <h4>Messages</h4>
    <ul>
        <li data-ng-repeat="message in messages">{{message|json}} </li>
    </ul>

    </div>


</div>
