<div class="hero-unit">
    <h1>CESA <small data-ng-show="currentUser">Hej {{currentUser}} <a href="#" data-ng-click="logout()">Logout</a></small></h1>

    <div data-ng-hide="currentUser" class="login">
    <form ng-submit="login()">
        <input type="text" data-ng-model="username" required placeholder="Username">
        <input type="password" data-ng-model="passphrase" required placeholder="Password">
        <input type="submit" id="submit" value="Submit" />
    </form>
    </div>

    <div data-ng-show="currentUser" class="chat-wrapper">
        <h2>Messages</h2>
        <form ng-submit="sendMessage()" id="message-form">
            <textarea placeholder="lalala" data-ng-model="text" rows="20" cols="10" required id="message-input"></textarea>
            <div class="contact-action">
                <select name="client" id="client-select" data-ng-model="recipient" data-ng-options="c.username for c in clients" required>
                    <option value="">Select a Recipient</option></select>
                <input type="submit"/>
            </div>
        </form>


        <ul class="messages" id="messages">
            <li data-ng-repeat="message in messages | reverse">{{message.user}} <span data-ng-show="message.recipient">to</span> {{message.recipient}}: <mark>{{message.text}}</mark> </li>
        </ul>
    </div>
</div>
